/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, *::after, *::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

.avatar {
    width: auto;
    height: 2em;
}

div.msg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0.8em 0 0.8em;
}

span {
    margin-left: 1em;
    margin: auto 0;
}

h1, h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color:rgb(240, 240, 240);
    font-weight: normal;
}

h2 {
    color: rgba(255, 255, 255, 0.889);
    font-size: 0.8em;
    letter-spacing: 1px;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 98vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgb(229, 229, 229);
    color: rgb(45 45 42);
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
    font-size: 1em;
}

.footer {
    text-align: center;
    font-size: 0.8em;
    color: #777;
    padding: 32px 0 6px;
}

.chat {
    max-width: 430px;
    height: 90vh;
    max-height: 700px;
    margin-bottom: 300px;
    overflow: scroll;
    background: rgb(244 244 244);
    border-radius: 52px;
    border: 1.5px solid rgb(45 45 42);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em auto 4px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 20px 20px 0px 0px rgba(0,0,0,1);
    box-shadow: 20px 20px 0px 0px rgba(0,0,0,1);
}

.chat > div > div:last-child {
    scroll-snap-align: end;
}

.chat-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    outline: 1.5px solid rgb(45 45 42);
    padding: 1.2em 1.4em;
    background-color:rgb(29, 131, 61);
    position: sticky;
    top: 0;
}

.chat-topbar {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 0 0.5em;
}

.chat-body {
    margin: 0.4em 1.4em 1em 1.4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

a, a:hover, a:active, a:visited {
    color: rgb(45 45 42);
    text-decoration: none;
}

.msg-content {
    border-radius: 30px 30px 30px 0;
    padding: 0.7rem 1.5rem 0.7rem 1.2rem;
    margin-left: 8px;
    background: rgba(222, 222, 222);
}

.player > .msg-content {
    border-radius: 30px 30px 0 30px;
    padding: 0.7rem 1.1rem 0.7rem;
}

.player {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 0.7em;
}

.msg > .player {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

span.emoji {
    font-size: 1.8em;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

div.emoji {
    font-size: 1.8em;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.narrator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.narrator .emoji,
.btn,
.skip,
#play-again,
.external-link {
    cursor: pointer;
}

.narrator .msg-content {
    border: 1.5px solid rgb(45 45 42);
    background-color: rgb(240, 240, 240);
}

#floating-help {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 300px;
}

.skip {
    text-align: right;
    margin: 4px 4px 4px 0;
}

#play-again {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #555;
    text-decoration: underline;
    text-align: center;
    font-size: 1em;
    margin: 10px 4px 4px;
}

.weapon-msg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: white;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.buttons.player {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.8em;
    padding: 0.4em 0 0.2em;
}

.btn.btn-square {
    font-size: 3em;
    color: white;
    border-radius: 30px;
    border: 1.5px solid rgb(45 45 42);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
    padding: 6px;
}


#rock-btn {
    background-color: rgb(136 31 31);
}

#paper-btn {
    background-color: rgb(49 130 27);
}

#scissors-btn {
    background-color: rgb(52 70 213);
}

#rock-btn:hover, #rock-btn:active {
    -webkit-animation: flash-rock-hover 0.8s linear infinite;
            animation: flash-rock-hover 0.8s linear infinite;
}

#paper-btn:hover, #paper-btn:active {
    -webkit-animation: flash-paper-hover 0.8s linear infinite;
            animation: flash-paper-hover 0.8s linear infinite;
}

#scissors-btn:hover, #scissors-btn:active {
    -webkit-animation: flash-scissors-hover 0.8s linear infinite;
            animation: flash-scissors-hover 0.8s linear infinite;
}

.btn:hover, .btn:active, .btn-square:hover, .btn-square:active  {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(2px, 2px);
        -ms-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
    background-color: rgb(242, 242, 242);
}

.rainbow {
    -webkit-animation: rainbow 2.5s linear;
            animation: rainbow 2.5s linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.player-weapon, .computer-weapon {
    font-size: 2em;
}


@-webkit-keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(216, 124, 124);
    }
    8%{
        background-color: rgb(204, 111, 60);
    }
    16%{
        background-color: rgb(187, 187, 110);
    }
    25%{
        background-color: rgb(114, 162, 67);
    }
    33%{
        background-color: rgb(122, 154, 122);
    }
    41%{
        background-color: rgb(67, 93, 80);
    }
    50%{
        background-color: rgb(133, 157, 157);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(76, 76, 224);
    }
    75%{
        background-color: rgb(167, 108, 226);
    }
    83%{
        background-color: rgb(238, 178, 238);
    }
    91%{
        background-color: rgb(220, 111, 165);
    }
}


@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(216, 124, 124);
    }
    8%{
        background-color: rgb(204, 111, 60);
    }
    16%{
        background-color: rgb(187, 187, 110);
    }
    25%{
        background-color: rgb(114, 162, 67);
    }
    33%{
        background-color: rgb(122, 154, 122);
    }
    41%{
        background-color: rgb(67, 93, 80);
    }
    50%{
        background-color: rgb(133, 157, 157);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    66%{
        background-color: rgb(76, 76, 224);
    }
    75%{
        background-color: rgb(167, 108, 226);
    }
    83%{
        background-color: rgb(238, 178, 238);
    }
    91%{
        background-color: rgb(220, 111, 165);
    }
}


@-webkit-keyframes rainbow{
    100%,0%{
        color: rgb(225, 86, 86);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(161, 161, 21);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}


@keyframes rainbow{
    100%,0%{
        color: rgb(225, 86, 86);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(161, 161, 21);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}


@-webkit-keyframes flash-rock {
    100%, 0% {
        background-color: rgb(200, 35, 35);
    }
    50% {
        background-color: rgb(53, 13, 12);
    }
}


@keyframes flash-rock {
    100%, 0% {
        background-color: rgb(200, 35, 35);
    }
    50% {
        background-color: rgb(53, 13, 12);
    }
}

@-webkit-keyframes flash-paper {
    100%, 0% {
        background-color: rgb(69, 197, 34);
    }
    50% {
        background-color: rgb(22, 45, 15);
    }
}

@keyframes flash-paper {
    100%, 0% {
        background-color: rgb(69, 197, 34);
    }
    50% {
        background-color: rgb(22, 45, 15);
    }
}

@-webkit-keyframes flash-scissors {
    100%, 0% {
        background-color: rgb(67, 38, 231);
    }
    50% {
        background-color: rgb(14, 10, 52);
    }
}

@keyframes flash-scissors {
    100%, 0% {
        background-color: rgb(67, 38, 231);
    }
    50% {
        background-color: rgb(14, 10, 52);
    }
}

@-webkit-keyframes flash-rock-hover {
    100%, 0% {
        background-color: rgb(201, 24, 57);
    }
    50% {
        background-color: rgb(69, 28, 22);
    }
}

@keyframes flash-rock-hover {
    100%, 0% {
        background-color: rgb(201, 24, 57);
    }
    50% {
        background-color: rgb(69, 28, 22);
    }
}

@-webkit-keyframes flash-paper-hover {
    100%, 0% {
        background-color: rgb(68, 194, 25);
    }
    50% {
        background-color: rgb(56, 114, 80);
    }
}

@keyframes flash-paper-hover {
    100%, 0% {
        background-color: rgb(68, 194, 25);
    }
    50% {
        background-color: rgb(56, 114, 80);
    }
}

@-webkit-keyframes flash-scissors-hover {
    100%, 0% {
        background-color: rgb(50, 23, 201);
    }
    50% {
        background-color: rgb(154, 137, 175);
    }
}

@keyframes flash-scissors-hover {
    100%, 0% {
        background-color: rgb(50, 23, 201);
    }
    50% {
        background-color: rgb(154, 137, 175);
    }
}